<html>

<head>
    <title>atAppointment</title>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/atApt/style.css">

</head>

<body>

    <div id="index-container">

        <center>
            <h1>
                <i class="far fa-calendar-plus"></i> atAppointment</h1>
            <br>
        </center>


        <div class="main">
            <h2>Schedule an Appointment</h2>
            {% if messages %} {% for message in messages %}
            <center>
                <p class="errors">{{message}}</p>
            </center>
            {% endfor %} {% endif %}
            <form action="/add_appointment" method="POST">
                {% csrf_token %}
                <h3><center>
                    Welcome, {{user.name}}!
                </center></h3>

                <a href="/logout">Logout</a>

                <table>
                    <tr>
                        <td><i class="fas fa-user"></i></td>
                        <td>Select Staff Member: </td>
                        <td>
                            <select name="staff">
                                <option value="staff">Staff Members</option>
                                
                                {%for st in staff%}
                                <option value="{{st.id}}">{{st.name}}</option>
                                {%endfor%}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="far fa-calendar-alt"></i></td>
                        <td>Select Appointment Date: </td>
                        <td>
                            <input type="date" name="date">
                        </td>
                    </tr>
                    <tr>
                        <td><i class="far fa-clock"></i></td>
                        <td>Select Appointment Time: </td>
                        <td>
                            <input type="time" name="time">
                        </td>
                    </tr>
                </table>

                <center>
                    <input type="submit" value="Book Appointment" class="btn btn-primary"> </center>
                <br>
            </form>

        </div>

    <div class="main">
        <h2>My Appointments</h2>
        <table>
            <tr>
                
                <th>Staff Member Name</th>
                <th>Date/Time</th>
                <th>Delete</th>
                
            </tr>

            {%for apt in user.appointments.all%}

            <tr>
                <td>{{apt.staff_user.name}}</td>
                <td>{{apt.appointment_date}} /  {{apt.appointment_time}} </td>
               
                <td>
                    <a href="/delete_appointment/{{apt.id}}">
                        <button class="btn btn-danger">Remove</button>
                    </a>
                </td>
               

            {%endfor%}




        </table>

        <br>
    </div>
    </div>
</body>

</html>