<html>

<head>
    <title>atAppointment</title>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/atApt/style.css">

</head>

<body>

    <div id="index-container">

        <center>
            <h1>
                <i class="far fa-calendar-plus"></i> atAppointment</h1>
            <br>
            <h2>Staff Dashboard</h2>
            
            {% if messages %} {% for message in messages %}
            <center>
                <p class="errors">{{message}}</p>
            </center>
            {% endfor %} {% endif %}
        </center>   

        <a href="/logout">Logout</a>

        <div class="main">
               
    
            <h2>Your Appointments</h2>
            <h3><center>
                    Welcome, {{staff.name}}!
                </center></h3>
            {% if messages %} {% for message in messages %}
            <center>
                <p class="errors">{{message}}</p>
            </center>
            {% endfor %} {% endif %}

                <table>
                    <tr>
                        <th>Customer Name</th>
                        <th>Customer Email</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Remove</th>
                        <th>Update</th>
                    </tr>

                    <p>{{staff_appointments.all.first.customer.name}}</p>
                    {%for apt in staff_appointments%}
                    
                    <tr>
                        <td>{{apt.customer.name}}</td>
                        <td>{{apt.customer.email}}</td>
                        <td>{{apt.appointment_date}}</td>
                        <td>{{apt.appointment_time}}</td>
                        <td><a href="/delete_appointment_staff/{{apt.id}}"><button class="btn btn-danger">Remove</button></a></td>
                        <td><a href="/staff_view"><button class="btn btn-primary">Update</button></a></td>
                    </tr>

                    {%endfor%}


                </table>

                <center><a href="/staff_delete_first"><button class="btn btn-primary">Finished with Current Appointment</button></a> </center>
                <br>
            </form>

        </div>
    </div>
</body>

</html>